---
import Signboard from './Signboard.astro';

interface Props {
  title: string;
}

const { title } = Astro.props;

const signboardTopHeight = '4rem';
const edgeHeight = '22rem';
const edgeWidth = '28rem';
const gap = '1rem';
const boardHeight = `calc(${edgeHeight} - ${gap})`;
const boardWidth = `calc(${edgeWidth} - ${gap})`;
const hoveredBehindBottom = `calc(0rem - ${boardHeight})`;
const hoveredBehindRight = gap;
---

<div class="edge group">
  <div class="forward">
    <Signboard title={title} titleHeight={signboardTopHeight}>
      <slot name="forward" />
    </Signboard>
  </div>
  <div class="behind">
    <Signboard title='Description' titleHeight={signboardTopHeight}>
      <slot name="behind" />
    </Signboard>
  </div>
</div>

<style
  define:vars={{
    edgeHeight,
    edgeWidth,
    gap,
    boardHeight,
    boardWidth,
    hoveredBehindBottom,
    hoveredBehindRight,
  }}
>
  .edge {
    position: relative;
    width: var(--edgeWidth);
    height: var(--edgeHeight);
  }
  .forward {
    position: absolute;
    z-index: 20;
    top: 0;
    left: 0;
    height: var(--boardHeight);
    width: var(--boardWidth);
  }
  .behind {
    position: absolute;
    z-index: 10;
    bottom: 0;
    right: 0;
    height: var(--boardHeight);
    width: var(--boardWidth);
    transition: all 0.1s linear;
  }
  .edge:hover .behind {
    bottom: var(--hoveredBehindBottom);
    right: var(--hoveredBehindRight);
    z-index: 30;
  }
</style>
